<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Kumon Passaré</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div id="cabecalho">
			<img id="logo" src="../_imagens/logo.jpg">
			<label id="user">USER</label>
			<img id="logo_user" src="../_imagens/person.png">
		</div>
		<h1>SISTEMA DE ESTOQUE<br>KUMON PASSARÉ</h1>
		<div id="container">
			<div><a class="link" href=""><img id="pot" src="../_imagens/português.png"></a></div>
			<div><a class="link" href=""><img id="ing" src="../_imagens/inglês.png"></a></div>
			<div><a class="link" href=""><img id="mat" src="../_imagens/matemática.png"></a></div>
		</div>
	</body>

</html>