<!DOCTYPE html>
<html>

    <head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="style.css">
		<title>Login</title>
    </head>

    <body>
		<div id="cabecalho">
			<img id="logo" src="../_imagens/logo.jpg">
		</div>
		<div id="form">
			<h2>Login</h2>
			<hr>
			<form method="POST">
				<table>
					<tr>
						<td>
							<label class="form">Email:</label><br>
							<input name="email" type="email">
						</td>
					</tr>
					<tr>
						<td>
							<label class="form">Senha:</label><br>
							<input name="password" type="password">
						</td>
					</tr>
				</table>
				<input id="botaologin" type="submit" value="Entrar">
				<a id="esqueci" href="">Esqueceu a senha?</a><br>
				<div id="cadastro">
					<p>Não tem cadastro? <a href="cadastro.html">Cadastrar-se</a></p>
				</div>
			</form>
		</div>
	</body>
	

</html>