<!DOCTYPE html>
<html>

    <head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="style.css">
		<title>Recuperação</title>
    </head>

    <body>
		<div id="cabecalho">
			<img id="logo" src="../_imagens/logo.jpg">
		</div>
		<div id="form">
			<h2>Recuperar<br>Login</h2>
			<hr>
			<form method="POST">
				<table>
					<tr>
						<td>
							<label class="form">Email cadastrado:</label><br>
							<input name="email" type="email">
						</td>
					</tr>
				</table>
				<i><small>* Sua senha será enviada para o email acima.</small></i>
				<input id="botaorecupera" type="submit" value="Enviar">
			</form>
		</div>
	</body>
	

</html>