<!DOCTYPE html>
<html>

    <head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static',filename='_imagens/favicon.png') }}"/>
		<title>Recuperação | Kumon</title>
    </head>

    <body>
		<div id="cabecalho">
			<a href="index">
			<img id="logo" src="{{ url_for('static',filename='_imagens/logo.jpg') }}">
			</a>
		</div>
		<div id="form">
			<h2>Recuperar<br>Login</h2>
			<hr>
			<form method="POST">
				<table>
					<tr>
						<td>
							<label class="form">Email cadastrado:</label><br>
							<input name="email" type="email">
						</td>
					</tr>
				</table>
				<i><small>* Sua senha será enviada para o email acima.</small></i>
				<input id="botaorecupera" type="submit" value="Enviar">
			</form>
		</div>
	</body>
	

</html>