body {
    margin:0px;
}
#cabecalho {
    width: 100%;
    height: 100px;
    background-color:#6ccff8;
}
#logo {
    height: 100px;
    margin-right: 62%;
}

#logo_user {
    height: 50px;
    margin-bottom: 25px;
}

#user {
    vertical-align: 45px;
    margin-right: 20px;
    margin-left: 50px;
}

h2 {
  font-size: 48px;
  color: #066a75;
  padding: 2px 0 0px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

hr {
    margin: 30px;
}
#form {
    border:1px solid black;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
}
input {
    margin-left: 95px;
    width: 200px;
}

.form {
    margin-left: 95px;
}

#botaocadastro {
    border-color: #066a75;
    background-color:#066a75;
    width: 205px;
    color:white;
    margin-left: 98px;
    margin-top: 10px;
    margin-bottom:85px;
    padding: 3px;
    border-radius: 5px;
}
#botaologin {
    border-color: #066a75;
    background-color:#066a75;
    width: 205px;
    color:white;
    margin-left: 98px;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 3px;
    border-radius: 5px;
}
#esqueci {
    margin-left: 145px;
}

#cadastro {
    margin-top:70px;
    background-color: #F0F5F0;
    height: 70px;
    border-radius:10px;
    border:1px solid white;
}

p {
    margin-top: 30px;
    margin-left: 100px;
}

.quadrado {
    border: 1px solid black;
    width: 400px;
}
#mat {
    float: middle;
    border-radius: 20px;
}
#pot {
    float:left;
    margin-left: 150px;
    border-radius: 20px;
}
#ing {
    float: right;
    margin-right:150px;
    border-radius: 20px;
}
.link {
    text-decoration: none;
}
#container {
    text-align: center;
    margin-top: 60px;
}
h1 {
    font-size: 40px;
    margin-top:50px;
    text-align: center;
    font-family: Arial,sans-serif;
    color: #0099CC;
}
small {
    margin-left:75px;
}

#botaorecupera {
    border-color: #066a75;
    background-color:#066a75;
    width: 205px;
    color:white;
    margin-left: 98px;
    margin-top: 20px;
    margin-bottom:130px;
    padding: 3px;
    border-radius: 5px;
}